page-imagepick {

}
.ios, .md {
 
 page-imagepick {
 
    ion-grid {
      background-color: #F6FEFE;
    }
 
    ion-col  {
      height: 50 px !important;
      width: 50 px !important;
    }
 
  }
 
}
